.flumen {
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.flumen.no-flexbox {
    display: block;
    width: auto;
    white-space: nowrap;
}

.flumen .flumen-slide {
  flex-shrink: 0;
}

.flumen.no-flexbox .flumen-slide {
    display: inline-block;
}
