/*
.num-7 {
    width: 500px !important;
}

.num-9 {
    height: 400px !important;
}

.num-13 {
    width: 600px !important;
    height: 250px !important;
}
*/

.slider {
    margin-bottom: 50px;
}

.slider > div {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  color: white;
  background: grey;
  line-height: 300px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
    margin: 0 auto;
    margin-top: 200px;
}

.marker {
    position: absolute;
    width: 1px;
    height: 100%;
    /* background: red; */
    top: 0px;
    left: 50%;
    margin-left: -0.5px;
}

html, body {
    margin: 0;
    padding: 0;
}
